.numeralia p,
.numeralia h2 {
    margin: 0;
}

.numeralia {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-900);
}

.numeralia .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.numeralia .subtitle h2 {
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    font-size: var(--font-size-700);
    line-height: var(--line-height-130p);
    letter-spacing: var(--letter-spacing-tight);
}

.numeralia .number {
    font-weight: var(--font-weight-semibold);
    font-style: normal;
    font-size: 112px;
    line-height: var(--line-height-100p);
    letter-spacing: var(--letter-spacing-tight);
    display: inline-flex;
    align-items: center;
}

.numeralia .number-wrapper {
    display: inline-flex;
    overflow: hidden;
    height: 1.04em;
    position: relative;
}

.numeralia .number-scroll {
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-out;
}

.numeralia .number-item {
    height: 1.04em;
    line-height: var(--line-height-104p);
    flex-shrink: 0;
}

.numeralia .number-suffix {
    display: inline-block;
}

.numeralia .description {
    font-weight: var(--font-weight-regular);
    font-style: normal;
    font-size: var(--font-size-200);
    line-height: var(--line-height-22);
    letter-spacing: var(--letter-spacing-tight);
}

.numeralia .stats {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-800);
}

.numeralia .stat-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
}

@media (width >= 510px) {
    .numeralia .number {
        font-size: var(--font-size-1300);
    }
}

@media (width >= 720px) {
    .numeralia .description {
        font-size: var(--font-size-300);
        line-height: var(--line-height-26);
    }
}

@media (width >= 1025px) {
    .numeralia .title-wrapper {
        gap: var(--spacing-600);
    }

    .numeralia .subtitle h2 {
        font-size: var(--font-size-800);
    }

    .numeralia .stats {
        flex-direction: row;
        gap: var(--spacing-0);
    }

    .numeralia .stat-item {
        flex: 1;
    }

    .numeralia .number-wrapper {
        gap: var(--spacing-600);
    }
}
